{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'insc.css' %}">
    
</head>
<body>
    <div class="dex2">
        <div class="form" id="vjk">
            <h1>CONNEXION</h1>
            {%  if messages %}
            <div class="erro">
                {% for message in messages %}
                <p> {{message}} </p>
                {% endfor %}
            {% endif %}
            <form action="{% url 'connexion' %}" method="post" class="item-form">
                {% csrf_token %}
                <input type="text" name="username" placeholder="name" id="">
                <input type="text" name="password" placeholder="password" id="">
                <button type="submit" style="padding: 10px 20px;background-color: #07a35a;border: none;border: 10px;color: white;">Se connecter</button>
            </form>
            <p class="olink">pas encore inscrit! <a href="{% url 'inscription' %}">S'inscrire</a></p>
        </div>
    </div>
</body>
</html>