<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenaire">
        
        <div class="form">
            {%  if messages %}
            <div class="erro">
                {% for message in messages %}
                <p> {{message}} </p>
                {% endfor %}
            </div>
            {% endif %}
            <form action="{% url 'inscription' %}" method="post">
                {% csrf_token %}
                <H1>Inscription</H1>
                {{ form.as_p }}
                <button type="submit">S'inscrire</button>
            </form>
            <p class="olink">Deja inscrit! <a href="{% url 'connexion' %}">Se connecter</a></p>
        </div>
    </div>
</body>
</html>