*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  body {
      width: 100%;
      overflow: hidden;
      background-color: #2407a3;
    }

  label{
    color: #07a35a;
  }
  @media (min-width:700px) and (max-width:3000px){
    body {
        width: 100%;
        overflow: hidden;
        background-color: violet;
    }
    a {
        text-decoration: none;
        color: #07a35a;
    }
      
    header {
        width: 100%;
        height: 2000px;
        background-color: #2407a3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 100%;
        background-color: #0743a3;
        height: 100%;
        display: flex;
        justify-content: center;
       
        align-items: center;
        position: fixed;
        top: 10px;

    }
    .form {
        /* height: 480px; */
        width: 340px;
        height: 400px;
        background-color: white;
        /* border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; */
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
        flex-direction: column;
    }
    #vjk {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #vjk1 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hea2 {
        height: 12%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
       
    }
    .item-form {
        height: 85%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .formulaire label{
        font-size: 0.8rem;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 5px;
       
        color: #07a35a;

    }
    .item-form input{
        height: 25px;
        width: 100%;
        background-color: rgba(146, 151, 151, 0.192);
        border: 1px solid #07a35a;
        border-radius: 8px;
        color: #07a35a;
        outline: none;
        padding-left: 10px;
    }
    .item-form textarea{
        height: 50px;
        width: 100%;
        background-color: rgba(146, 151, 151, 0.192);
        border: 1px solid #07a35a;
        border-radius: 8px;
        color: #07a35a;
        outline: none;
        padding-left: 10px;
    }
    .formulaire button{
        height: 40px;
        width: 40%;
        background-color: #2407a3;
        border-radius: 8px;
        color: white;
        border: none;
        margin: 0 auto;
        outline: none;

    }
    .formulaire button:hover{
        height: 40px;
        width: 40%;
        background-color:  white;
        border-radius: 8px;
        color: #07a35a;
        border: none;
        margin: 0 auto;
        outline: none;
        border: 1px solid #07a35a;
    }
       
    
}
  
  /* @media (min-width:3000px) {
      
      
      
    a {
        text-decoration: none;
        color: white;
    }
      
    header {
        width: 100%;
        height: 4000px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 100%;
        background-color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10px;

    }
    .form {
        height: 800px;
        width: 550px;
        background-color: black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px;
    }
    .hea {
        height: 15%;
        width: 40%;
        background: url(../image/BLA.jpg) 50% no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 200px;
        filter: invert();
    }
    .hea2 {
        height: 100px;
        width: 100%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .hea2 p{
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }
    .hea3 {
        margin-top: 20px;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: rgb(0, 0, 0);
    }

    .hea3 p {
        margin-bottom: 15px;
        font-size: 0.8rem;
        color: white;
        font-weight: bold;
        padding-right: 35px;
    }
    .hea4 {
        height: 30px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: end;
        padding-right: 20px;
        
    }
    .hea4 input {
        border-radius: 40px;
        border: 1px solid white;
        background-color: rgba(49, 48, 48, 0.199);
        width: 90%;
        height: 40px;
        color: white;
        padding-left: 10px;
    }
    .hea5 {
        margin-top: 20px;
        height: 10px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: black;
        color: white;
    }
    .hea5 p {
        font-size: 1rem;
        padding-right: 40px;
        margin-top: 20px;
    }
    .hea5 p:hover{
        font-size: 0.7rem;
        padding-right: 20px;
        color: blue;
        
    }
    .hea6{
        margin-top: 20px;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: black;
        color: white;
    }
    .hea6 h1 {
        font-size: 1.5rem;
        padding-bottom: 30px;
    }

    .hea7{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
    }
    .hea7 li {
        font-size: 1.2rem;
        list-style-type: none;
        
    }
    .hea7 li a{
        padding: 20px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 60px;
        
    }
    .hea7 li a:hover{
        padding: 10px;
        background-color: rgba(102, 100, 100, 0.075);
        border: 2px solid rgb(0, 0, 0);
        border-radius: 20px;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        
    }
      
  }
   */
@media (min-width:10px) and (max-width:700px){
    body {
        width: 100%;
        overflow: hidden;
        background-color: #07a35a;
    }
    a {
        text-decoration: none;
        color: #07a35a;
    }
      
    header {
        width: 100%;
        height: 2000px;
        background-color: #2407a3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 340px;
        background-color: #2407a3;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        position: fixed;
        top: 10px;

    }
    .form {
        /* height: 480px; */
        width: 340px;
        height: 450px;
        background-color: white;
        /* border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; */
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
        flex-direction: column;
    }
    #vjk {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    #vjk1 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .hea2 {
        height: 12%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
       
    }
    .formulaire {
        height: 73%;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: column;
    }
    .formulaire label{
        font-size: 0.8rem;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 5px;
       
        color: #07a35a;

    }
    .formulaire input{
        height: 25px;
        width: 100%;
        background-color: rgba(146, 151, 151, 0.192);
        border: 1px solid #07a35a;
        border-radius: 8px;
        color: #07a35a;
        outline: none;
        padding-left: 10px;
    }
    .formulaire button{
        height: 40px;
        width: 40%;
        background-color: #2407a3;
        border-radius: 8px;
        color: white;
        border: none;
        margin: 0 auto;
        outline: none;

    }
    .formulaire button:hover{
        height: 40px;
        width: 40%;
        background-color:  white;
        border-radius: 8px;
        color: #073ba3;
        border: none;
        margin: 0 auto;
        outline: none;
        border: 1px solid #0736a3;
    }
       
    
}