*{
    margin: 0 ;
    padding: 0;
}
body{
    background-color: rgb(76, 89, 85);
}
.conecter{
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image_accueil{
    width: 100%;
    height: 800px;
}
.nav1{
    width: 200px;
    height: 100%;
    position: relative;
    right: 16%;
    /* background-color: aqua; */
    text-align: center;
}
.nav2{
    width: 200px;
    height: 100%;
    /* background-color: blue; */
    justify-content: center;
    text-align: center;
 
}
strong{
    position: relative;
    top: 30px;
    font-size: 20px;
}
.nav3{
    width: 200px;
    height: 100%;
    justify-content: center;
    text-align: center;
    /* background-color: blueviolet; */
}
.nav4{
    width: 200px;
    height: 100%;
    /* background-color: brown; */
    position: relative;
    justify-content: center;
    text-align: center;
    left: 16%;
}
.texte{
    width: 650px;
    height: 200px;
    /* background-color: red; */
    position: relative;
    bottom: 650px;
    left: 10%;
}
.nouvelle{
    width: 450px;
    font-size: 2.8rem;
    font-weight: bold;
    left: 10%;
}
.carte{
    position: relative;
    top: 20px;
    width: 420px;
    font-size: 2rem;
}
.voir{
    position: relative;
    bottom: 300px;
    font-size: 1.7rem;
    color: white;
    width: 150px;
    left: 10%;
}
.deconexion{
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    bottom: 300px;
    font-size: 1.7rem;
    color: white;
    position: relative;
    width: 15%;
    height: 40px;
    left: 82%;
    bottom: 320px;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}