body{
    background-color:  rgb(67, 43, 90);
    justify-content: center;
}
.dex2{
    background-color: rgb(244, 244, 244);
    width: 320px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0.5px 0.5px 5px 0.5px  rgb(67, 43, 90);
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

input{
    background-color: rgba(67, 43, 90, 0.919);
    position: relative;
    height: 40px;
    width: 80%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    color: white;
}
h1{
    color: rgba(67, 43, 90, 0.919);
}
.formcon{
    position: relative;
    padding-top: 40px;
}
.ggggg{
    color: rgba(67, 43, 90, 0.919);
    position: relative;
    top: 20px;
}
::placeholder{
    color: rgb(255, 255, 255);
}
.helptext{
    display: none;
}
label{
    display: none;
}